@charset "utf-8";

/* 共通プロパティ */
body {
  font-family: 'Lato';
  margin: 0;
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-format {
  font-size: 24px;
}

.font-Raleway {
  font-family: 'Raleway';
}

.white-text-format {
  color: white;
  text-align: center;
}

/* ボタンプロパティ（共通部分のみ） */
.btn-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-format {
  font-size: 12px;
  box-sizing: border-box;
  background-color: #74cfae;
}

.btn-link:hover {
  color: #333;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.contact-btn {
  padding: 14px 12px;
}

.header-icon {
  font-size: 40px;
}

/* main */
.main-content {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
}

.theme-box {
  padding: 250px 0 250px 0;
}

.main-theme-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.sub-theme-title {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.usability {
  background-color: #74cfae;
}

.usability-box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.usability-text {
  width: 60%;
  line-height: normal;
}

.usability-text h2 {
  margin-top: 35px;
}

.usability-text-content {
  font-size: 20px;
  margin-top: 35px;
}

.works {
  background-color: #f2f2f2;
}

.works-box {
  padding: 60px 0 70px 0;
}

.works-title {
  text-align: center;
  color: #333;
}

.works-imgs {
  font-size: 0;
  margin-top: 60px;
}

.work-link {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work-link:hover {
  opacity: 1;
}

.work-link:nth-child(3n+1) {
  margin-left: 0 ;
}

.work-link:nth-child(n+4) {
  margin-top: 80px;
}

.works-email-box {
  display: flex;
  margin: 90px auto 0 auto;
  padding: 0px 170px;
  align-items: baseline;
}

.works-email-text {
  color: #333;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.works-email-box a:first-of-type {
  margin-left: 90px;
}

.works-email-btn {
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  padding: 14px 20px;
}

.skills {
  background-color: #4e4e4e;
}

.skills-box {
  padding: 70px 0 100px 0;
}

.skills-title {
  margin: 0 auto;
}

.skills-items {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skills-items li {
  margin-left: 180px;
}

.skills-items li:first-child {
  margin-left: 0;
}

.item-name {
  font-size: 16px;
  margin-top: 15px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-box {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.sns-icon-box {
  display: inline-block;
  width: 185px;
  text-align: center;
  transition: all 0.3s;
}

.sns-icon-box:hover {
  background-color: white;
}

.sns-icon-content {
  color: #74cfae;
  font-size: 40px;
  padding: 30px 0;
}

/* footer */
.footer {
  background-color: #74cfae;
}

.footer-box {
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
  color: white;
}

@media screen and (max-width: 1199px) {
  /* 共通プロパティ */
  .inner {
    width: 97%;
  }

  .usability-box {
    display: block;
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .usability-text {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .usability-text h2 {
    margin-top: 20px;
  }

  .works-box {
    padding: 60px 0 70px 0;
  }

  .works-imgs {
    font-size: 0;
    margin-top: 40px;
    text-align: center;
  }

  .work-link {
    display: block;
    margin-left: 0;
  }

  .work-link:hover {
    opacity: 1;
  }

  .work-link:nth-child(n+4) {
    margin-top: 0;
  }

  .work-link:nth-child(3n+1) {
    margin-left: 0 ;
    margin-top: 80px;
  }

  .works-email-box {
    display: block;
    margin: 80px auto 0 auto;
    text-align: center;
    padding: 0;
  }

  .works-email-text {
    color: #333;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .works-email-box a:first-of-type {
    display: inline-block;
    margin: 40px auto 0 auto;
  }

  .skills-items {
    display: block;
    text-align: center;
  }

  .skills-items li {
    margin-left: 0;
    margin-top: 88px;
  }

  .skills-items li:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-btn {
    display: none;
  }

  .hamburger-menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 40px;
    height: 30px;
    position: relative;
    box-sizing: border-box;
  }

  .hamburger-menu span {
    display: block;
    border-radius: 3px;
    background-color: #f2f2f2;
    height: 2px;
    width: 26px;
    position: absolute;
  }

  .hamburger-menu span:nth-child(1){
    left: 6px;
    top: 6px;
  }

  .hamburger-menu span:nth-child(2) {
    top: 13px;
    left: 6px;
  }

  .hamburger-menu span:nth-child(3) {
    left: 6px;
    bottom: 6px;
  }

  .main-theme-title {
    font-size: 80px;
  }

  .theme-box {
    padding: 160px 0 130px 0;
  }

  .sns-box {
    display: block;
    text-align: center;
    padding: 50px 0;
  }

  .sns-icon-box {
    width: 100%;
  }

  .footer-text {
    padding-right: 5%;
  }
}