@charset "utf-8";

/* 共通プロパティ */
body {
  font-family: 'Lato';
  margin: 0;
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-format {
  font-size: 24px;
}

.font-Raleway {
  font-family: 'Raleway';
}

.white-text-format {
  color: white;
  text-align: center;
}

/* ボタンプロパティ（共通部分のみ） */
.btn-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-format {
  font-size: 12px;
  box-sizing: border-box;
  background-color: #74cfae;
}

.btn-link:hover {
  color: #333;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.contact-btn {
  padding: 14px 12px;
}

.header-icon {
  font-size: 40px;
}

/* main */
.main-content {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
}

.theme-box {
  padding: 250px 0 250px 0;
}

.main-theme-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.sub-theme-title {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.usability {
  background-color: #74cfae;
}

.usability-box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.usability-text {
  width: 682px;
  line-height: normal;
}

.usability-text h2 {
  margin-top: 35px;
}

.usability-text-content {
  font-size: 20px;
  margin-top: 35px;
}

.works {
  background-color: #f2f2f2;
}

.works-box {
  padding: 60px 0 70px 0;
}

.works-title {
  text-align: center;
  color: #333;
}

.works-imgs {
  font-size: 0;
  margin-top: 60px;
}

.work-link {
  display: inline-block;
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work-link:hover {
  opacity: 1;
}

.work-link:nth-child(3n+1) {
  margin-left: 0 ;
}

.work-link:nth-child(n+4) {
  margin-top: 80px;
}

.works-email-box {
  display: flex;
  margin: 90px auto 0 auto;
  width: 69%;
  align-items: baseline;
}

.works-email-text {
  color: #333;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.works-email-box a:first-of-type {
  margin-left: 90px;
}

.works-email-btn {
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  padding: 14px 20px;
}

.skills {
  background-color: #4e4e4e;
}

.skills-box {
  padding: 70px 0 100px 0;
}

.skills-title {
  margin: 0 auto;
}

.skills-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.skills-item {
  margin-left: 180px;
}

.skills-item:first-of-type {
  margin-left: 0;
}

.item-name {
  font-size: 16px;
  margin-top: 15px;
}

.sns {
  background-color: #f2f2f2;
}

.sns-box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 200px 0;
}

.sns-icon-box {
  width: 185px;
  text-align: center;
  transition: all 0.3s;
}

.sns-icon-box:hover {
  background-color: white;
}

.sns-icon-content {
  color: #74cfae;
  font-size: 40px;
  padding: 30px 0;
}

/* footer */
.footer {
  background-color: #74cfae;
}

.footer-box {
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
}

@media screen and (max-width: 1199px) {
    /* 共通プロパティ */
  .inner {
    width: 1100px;
  }

  /* header */

  /* main */
  .usability-box {
    display: block;
    padding: 50px 0 20px 0;
    text-align: ;
  }

  .main-theme-title {
    margin-top: 20px;
  }

  .sub-theme-title {
    margin-top: 35px;
  }

  .usability-text {
    width: 682px;
    line-height: normal;
  }

  .usability-text h1 {
    margin-top: 35px;
  }

  .usability-text-content {
    text-align: center;
  }

  .works {
    background-color: #f2f2f2;
  }

  .works-box {
    padding: 60px 0 70px 0;
  }

  .works-title {
    text-align: center;
    color: #333;
  }

  .works-imgs {
    font-size: 0;
    margin-top: 60px;
  }

  .work-link {
    display: inline-block;
    margin-left: 100px;
    opacity: 0.7;
    transition: all 0.3s;
  }

  .work-link:hover {
    opacity: 1;
  }

  .work-link:nth-child(3n+1) {
    margin-left: 0 ;
  }

  .work-link:nth-child(n+4) {
    margin-top: 80px;
  }

  .works-email-box {
    display: flex;
    padding: 90px 190px 0 120px;
  }

  .works-email-text {
    color: #333;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .works-email-box a:first-of-type {
    margin-left: 90px;
  }

  .works-email-btn {
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    width: 140%;
  }

  .skills {
    background-color: #4e4e4e;
  }

  .skills-box {
    padding: 70px 0 100px 0;
  }

  .skills-title {
    margin: 0 auto;
  }

  .skills-items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
  }

  .skills-item {
    margin-left: 180px;
  }

  .skills-item:first-of-type {
    margin-left: 0;
  }

  .item-name {
    font-size: 16px;
    margin-top: 15px;
  }

  .sns {
    background-color: #f2f2f2;
  }

  .sns-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 200px 0;
  }

  .sns-icon-box {
    width: 185px;
    text-align: center;
    transition: all 0.3s;
  }

  .sns-icon-box:hover {
    background-color: white;
  }

  .sns-icon-content {
    color: #74cfae;
    font-size: 40px;
    padding: 30px 0;
  }

  /* footer */
  .footer {
    background-color: #74cfae;
  }

  .footer-box {
    margin: 0 auto;
    padding: 20px 0 25px 0;
  }

  .footer-text {
    display: flex;
    float: right;
  }
}

@media screen and (max-width: 767px) {
  /* .inner {
    width: 766px;
  }

  .header-box {
    box-sizing: border-box;
    padding: 15px 15px;
  }

  .contact-text {
    display: none;
  }

  .hamburger-menu {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
  }

  .hamburger-menu span::before,
  .hamburger-menu span,
  .hamburger-menu span::after {
    content: "";
    display: block;
    border-radius: 3px;
    background-color: #f2f2f2;
    height: 3px;
    width: 20px;
    position: absolute;
  }

  .hamburger-menu span::before {
    top: 6px;
  }

  .hamburger-menu span {
    left: 6px;
  }

  .hamburger-menu span::after {
    bottom: 6px;
  }

  .theme-box {
    padding: 160px 200px 130px 200px;
    width: 260px;
  }

  .main-theme-title {
    font-size: 80px;
  }

  .usability-box {
    padding-bottom: 30px;
  }

  .usability-box,
  .usability-box img {
    display: block;
  }

  .usability-box,
  .usability-text {
    width: 315px;
  }

  .usability-box img {
    margin: 0 auto;
  }

  .works-box {
    width: 315px;
  }

  .work-link {
    display: block;
    margin-left: 0;
    /* add */
    /* text-align: center;
  }*/

  /* .work-link img{
    display: block;
    margin: 0 auto;
  }

  .work-link:nth-child(n+5) {
    margin-top: 0;
  } */

  /* .works-imgs {
    padding: 33px;
  }

  .work-link:nth-child(odd) {
    margin-left: 0;
  }

  .work-link:nth-child(4) {
    margin: 80px 0 0 100px;
  }

  .works-email-box {
    display: block;
    padding: 90px 60px 70px 60px;
  }

  .works-email-btn {
    width: 30%;
    margin: 0 auto;
  } */

  /* .skills-items {
    display: block;
    padding-bottom: 100px;
  }

  .skills-item {
    margin-left: 0;
    text-align: center;
    margin-bottom: 25px;
  }

  .skills-item:last-of-type {
    margin-bottom: 0;
  }

  .skills-item img{
    margin: 0 auto;
  } */
  
}